<% if @shared_url.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@shared_url.errors.count, "error") %> prohibited this shared_url from being saved:</h2>

    <ul>
    <% @shared_url.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@shared_url) do |f| %>
<fieldset>
  <legend>Today I Read:</legend>
    <div class="control-group">
      <label class="control-label" for="url">URL</label>
      <div class="controls">
         <%= f.text_field :url, :class=> "input-xlarge", :style=>"width:600px", :id=>"url"%>
      </div>
      <div class="controls">
         <%= f.text_field :title, :class=> "input-xlarge", :style=>"width:600px", :id=>"title"%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="tags">Tags</label>
      <div class="controls">
        <input type="text" class="input-xlarge" style="width:600px" id="tags" name="tags"></input>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="level">Level</label>
      <div class="controls">
        <div class="btn-group" data-toggle="buttons-radio">
          <button class="btn level" value="1">Beginner</button>
          <button class="btn level" value="3">Intermediate</button>
          <button class="btn level" value="5">Advanced</button>
        </div>
        <input type="hidden" id="level" name="level"></input>
      </div>
      <div class="form-actions">
        <%= f.submit  "Post your article", :class=> "btn btn-primary" %> 
        <%= link_to "Never mind", shared_urls_path, :class=>"btn"%>
      </div>
 </fieldset>
<% end %>
